#titleBar 
{
    display: flex;
    border-bottom: 1px solid #87BFFF;
    font-family: "Work Sans";
    height: 20%;
}

#button 
{
    background-color: #fff;
    font-family: "Work Sans";
    font-weight: 300;
    padding-top: 1rem;
    font-size: 1rem;
    width: 25%;
}

#button:hover {
    color: #408FEC;
}

.oLeft 
{
    border: none;
    width: 25%;
}

#header 
{
    text-align: center;
    width: 50%;
    font-weight: 100;
    font-size: 2rem;
    letter-spacing: 0.1rem;

}

#content
{
    display: flex;
    width: 100%;
    height: 37rem;
    border-bottom: 1px solid #87BFFF;
}

#find 
{
    width: 50%;
    height: 100%;
    border-right: 1px solid #87BFFF;
    float: left;  
    z-index: 1;
    background-color: #fff;
    opacity: 0.5;
}

#sForm 
{
    display: flex;
    height: 3rem;
}

#itemSearch
{
font-family: "Work Sans";
border: none;
border-bottom: 1px solid #87BFFF;
font-size: 1.25rem;
width: 100%;
letter-spacing: -0.05rem;
}

#listItems 
{
/* font-family: "Work Sans"; */
border: none;
width: 100%;
/* font-size: 1.25rem; */
height: 6rem;
float: right; 
}

#inItemH 
{
    display: flex;
}

#inItem
{
    width: 85%;
    border-bottom: 1px solid #87BFFF;
    height: 100%;
    float: right;
    overflow: hidden;
    font-family: "Work Sans";
    display: inline-block;
    font-size: 0.75rem;
}

#icon
{
    width: 15%;
    float: left;
    text-align: center;
    height: 100%;
    margin-top: 7%;
    color: #3262FF;
}

#square 
{
    margin-top: 4%;
    width: 40%;
    height: 20%;
    float: right;
    margin-right: 28%;
    border: 1px solid #87BFFF;
    border-radius: 2px;
    background-color: #87D37C;
}

#mapBox
{
    width: 100%;
    height: 100%;
    background-color: #87BFFF;
}

#create 
{
width: 50%;
height: 100%;
border-left: 1px solid #87BFFF; 
float: right;
z-index: 1;
background-color: #fff;
opacity: 0.5;
}

#itemInput 
{
font-family: "Work Sans";
font-size: 1rem;
width: 100%;
height: 1.25rem;
border: none;
border-bottom: 1px solid #87BFFF;
margin-top: 5%;
background-color: #fff;
}

#blur
{
    /* This is background css */
    z-index: 2;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color:#D2D7D3;
    opacity: 0.8;
}

#cMenu 
{
    /* These are Category Menu Options */
    z-index:3;
    height: 50%;
    width: 50%;
    background-color: #fff;
    position: absolute;
    top:0;
    left:0;
    margin-left: 25%;
    margin-right: 25%;
    margin-top:10%;
    display: flex;
    flex-wrap: wrap;
}

#cCard
{
    /* This is for individual options */
font-family: "Work Sans";
font-size: 7rem;
text-align: center;
height: 40%;
width: 10rem;
}

#fcCard 
{
    /* This is for subtitle fonts */
    font-size: 1.25rem;
    margin-top: -1rem;
}

#cCardContainer
{
    /* This is for positioning */
    margin-left: 12%;
    margin-right: 5%;
    display: flex;
    flex-wrap: wrap;
}