#Title 
{
    /* Settings for 'Create Event' */
    font-family: "Work Sans";
    font-weight: 100;
    font-size: 2rem;
    color: #000000;
    letter-spacing: -0.28px;
    border-bottom: 1px solid #87BFFF;
}



#itemText 
{
/* Settings for form text */
font-family: "Work Sans";
font-weight: 300;
font-size: 1.5rem;
color: #000000;
letter-spacing: -0.28px;
float:right;
text-align: right;
display: inline-block;
margin-top: 1rem;
}

#itemInput
{
    /* Settings for input boxes */
border-bottom: 1px solid #87BFFF;
border-left: none;
border-top: none;
border-right: none;
padding-top: 1rem;
padding-bottom: 1rem;
padding-right: 1.25rem;
font-size: 1rem;
}

#itemInput:nth-child(1)
{
/* Settings for first item, 'Name' box*/
border-bottom: 1px solid #87BFFF;
border-top: 1px solid #87BFFF;
border-left: none;
border-right: none;
padding-top: 1rem;
padding-bottom: 1rem;
padding-right: 1.25rem;
}

.itemTextArea {
font-family: "Work Sans";
font-weight: 400;
font-size: 1.5rem;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #BDC3C7;
    opacity: 1; /* Firefox */
}