#Main-Title {
    font-family: "Work Sans";
    font-weight: 100;
    font-size: 2em;
    color: #000000;
    text-align:center;
    }
    
#Flat-Line {
    /* Left to Right Border */
    border: 1px solid #87BFFF;
    width: 100%;
    top: 20%;
}    
       
#Option {
    /* Text CSS for Create and Find Event */
    font-family: "Work Sans";
    font-weight: 300;
    font-size: 1.25rem;
    color: #000000;
    letter-spacing: -0.34px;
    top: 1rem;
}
    
#Option:hover {
    color: #408FEC;
}    
    
.oLeft {
    /* Create Event */
    position: absolute;
    left: 2%;
    text-align: center; 
    
}

.oRight {
    /* Find Event */
    position: absolute;
    right: 2%;
    text-align: center; 
}

#mapBox {
    top: 20%;
    height: 39rem;
    width: 100%;
}

#leftSideBar {
display: none;
z-index: 1;
}

#rightSideBar {
/* display: none; */
z-index: 1;
display: inline-block;
position: absolute;
border: 1px solid #000;
width: 25%;
height: 80%;
top: 11.25%;
border-right: none;
right: 0;
}
